@import "../global.scss";

.buttonContainer {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
}

.primary {
  background-color: $clr-primary;
  color: #fff;
}

.secondary {
  background-color: $clr-text-gray;
}

.alert {
  background-color: #f6c0c0;
  color: #ff5251;
}

.primary,
.secondary,
.alert {
  border-radius: 5px;
  font-size: 20px;
}
