@import "../global.scss";

.password-dashboard-container {
  table {
    width: 100%;
    border-spacing: 0;
    text-align: left;
    thead {
      user-select: none;
      tr th {
        .clickable,
        .icon {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          &:hover {
            cursor: pointer;
          }
        }
        .icon {
          margin-left: 10px;
        }
      }
    }
    tbody {
      tr {
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        transition: all 0.2s;
        &:hover {
          background: #f0efef;
          cursor: pointer;
        }
      }
      td {
        border-collapse: separate;
        padding: 5px;
        height: 80px;
        box-sizing: border-box;
      }
    }
  }
}
