@import "../global.scss";

.service-details-container {
  text-align: left;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      font-size: 25px;
      line-height: 20px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background-color: $clr-form-background;
      filter: $dropShadow;
      &:hover {
        cursor: pointer;
      }
    }
    .right {
      width: 100%;
      text-align: center;
      font-size: 25px;
    }
  }
}
