@import "../global.scss";

.service-details-container {
  text-align: left;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    .left {
      font-size: 25px;
      line-height: 20px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50px;
      background-color: $clr-form-background;
      filter: $dropShadow;
      &:hover {
        cursor: pointer;
      }
    }
    .right {
      width: 100%;
      text-align: center;
      font-size: 25px;
    }
  }
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    height: 88%;
    // border: 1px solid #000;
    .container {
      margin-bottom: 30px;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      &:last-child {
        margin: 0;
      }
      .line {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 20px;
        input {
          height: 30px;
          font-size: 25px;
          padding: 5px;
          border: none;
          border-bottom: 1px #333 solid;
          background-color: transparent;
          width: 98%;
        }
        input#password {
          border: none;
        }
        .password {
          border-bottom: 1px #333 solid;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .password-hidden {
            font-size: 27px;
          }
        }
      }
    }
  }
}
