$clr-primary: #00c9a7;
$clr-primary-dark: #00a589;
$clr-text-gray: #c4c4c4;
$clr-primary-light: #60e1e1;

$clr-form-background: #fcfcfc;

$dropShadow: drop-shadow(5px 5px 5px rgba(174, 174, 192, 0.4));

* {
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    padding: 10px;
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $clr-primary;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: $clr-primary-dark;
  }
}

.register-container,
.login-container {
  border-radius: 20px;
  padding: 30px 20px;
  box-sizing: border-box;
  background-color: $clr-form-background;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  filter: $dropShadow;
  .page-title-container {
    margin: 10px 0;
    font-size: 45px;
    font-weight: bold;
    // color: $clr-primary;
    text-align: left;
    width: 80%;
  }
}

.sidebar-container,
.services-container,
.create-password-container,
.service-details-container,
.service-details-container .content .container,
.content .field {
  background-color: $clr-form-background;
  filter: $dropShadow;
  border-radius: 5px;
}

.service-details-container .content .container:last-child {
  filter: none;
  padding: 0;
}

.services-container,
.create-password-container,
.service-details-container {
  overflow-y: auto;
  width: 1200px;
  height: 90vh;
  padding: 30px;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 80%;
  .line {
    width: auto;
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    .input-container {
      position: relative;
      .span-container {
        position: absolute;
        top: 15px;
        left: 15px;
        font-size: 20px;
        transition: all 0.2s;
        padding: 3px;
        box-sizing: border-box;
        background: #fff;
        color: #000;
        user-select: none;
        &:hover {
          cursor: text;
        }
        .field-required {
          color: red;
        }
      }
      input {
        width: 95%;
        height: 50px;
        font-size: 25px;
        padding: 5px 0px 5px 20px;
        transition: all 0.2s;
        // box-sizing: border-box;
        border: 2px #ccc solid;
        &:hover {
          border-color: $clr-primary-dark;
        }
        &:active {
          border-color: $clr-primary-dark;
        }
        &:focus {
          border-color: $clr-primary-dark;
        }
      }
      input:focus + .span-container,
      input:not(:placeholder-shown) + .span-container {
        font-size: 15px;
        top: -10px;
        background: $clr-form-background;
      }
    }
    .error {
      margin-top: 5px;
      padding-left: 15px;
      text-align: left;
      font-size: 15px;
      color: red;
    }
    .error.hidden {
      display: none;
    }
    .create-acc-container {
      margin-top: 20px;
      text-align: left;
      font-size: 17px;
      color: $clr-text-gray;
      span {
        color: $clr-primary;
        cursor: pointer;
      }
    }
  }
}

.button-container {
  background-color: #d0efd4;
  color: #31a74d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}
.button-container.button-delete {
  background-color: #f6c0c0;
  color: #ff5251;
}

.show-hide-password-container {
  font-size: 20px;
  z-index: 10;
  line-height: 20px;
  &:hover {
    cursor: pointer;
  }
}
